<p id="notice"><%= notice %></p>

<h1>Listing Operations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Number owner</th>
      <th>Number sender</th>
      <th>Type op</th>
      <th>Date op</th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.number_owner %></td>
        <td><%= operation.number_sender %></td>
        <td><%= operation.type_op %></td>
        <td><%= operation.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

